# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.venv*/
*.egg-info/

# OS
.DS_Store

# Program
*.txt
Fuzzy*.csv
Transactional*.csv
*.prof
*.parquet
*.err
*.out
src/extra/io/build/
data/synthetic/

# GDS
*.log

build/

scripts/io/benchmark_output/*.csv
scripts/io/out_all_shapes/*.csv
scripts/io/out_all_shapes/*.parquet
scripts/io/out_all_shapes/*.zip
scripts/io/out_all_shapes/*.gz
results/fuzzy/
data/fuzzy/